header {
    background-color: $color-sky;
    height: 7rem;
    position: relative;
     & ul {
      position: absolute;
  
      top: 2rem;
      right: 5rem;
     }
  
  
    & li {
      font-family: "Segoe UI", Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 2rem;
      display: inline-block;
      margin-right: 2rem;
      color: $color-dark-green;
  
  
    }
  }
  